.header__lang{
  display: flex;
  padding-top: 46px;
  padding-right: 48px;
}

@media screen and (max-width: 778px) {
  .header__lang{
    padding-right: 24px;
  }
}

@media screen and (max-width: 330px) {
  .header__lang {
    padding-right: 16px;
    padding-top: 30px;
  }
}
