.footer__menu {
  margin-left: 48px;
}

@media screen and (max-width: 900px) {
  .footer__menu {
  margin-left: 24px;
  }
}

@media screen and (max-width: 725px) {
  .footer__menu {
    margin-left: 16px;
    margin-bottom: 48px;
  }
}
