.header__logo {
  width: 176px;
  padding-left: 48px;
  padding-top: 28px;
}

@media screen and (max-width: 778px) {
  .header__logo {
    padding-left: 24px;
  }
}

@media screen and (max-width: 330px) {
  .header__logo {
    width: 142px;
    padding-left: 16px;
    padding-top: 16px;
  }
}
