.places__place-item {
  max-width: 984px;
  margin: 0 auto 80px;
  padding: 0 48px;
  display: grid;
  grid-template-columns: calc((100% - 40px)/2 - 12px) calc((100% - 40px)/2 + 12px);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
}

.places__place-item:last-child {
  margin: 0 auto;
}

@media screen and (max-width: 1034px) {
  .places__place-item {
    grid-template-columns: calc((100% - 32px)/2 - 8px) calc((100% - 32px)/2 + 8px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 778px) {
  .places__place-item {
    padding: 0 24px;
    margin: 0 auto 73px;
    grid-template-columns: calc((100% - 28px)/2 - 6px) calc((100% - 28px)/2 + 6px);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 550px) {
  .places__place-item {
    padding: 0;
    margin: 0 auto 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 32px;
  }
}
