.intro {
  max-width: 984px;
  padding: 0 48px;
}

@media screen and (max-width: 778px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 330px) {
  .intro {
    padding: 0 16px;
  }
}
