.travel-russia__motto {
  margin: 0 0 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1034px) {
  .travel-russia__motto {
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 740px) {
  .travel-russia__motto {
    max-width: 464px;
    font-size: 23px;
    line-height: 1.225;
  }
}

@media screen and (max-width: 330px) {
  .travel-russia__motto {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 40px;
  }
}
