.header__lang-list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 46px 48px 0 0;
}

@media screen and (max-width: 778px) {
  .header__lang-list {
    padding-right: 24px;
  }
}

@media screen and (max-width: 330px) {
  .header__lang-list {
    padding-right: 16px;
    padding-top: 30px;
  }
}
