.cover__title {
  max-width: 560px;
  margin: calc(31.25% - 125px) 0 32px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  font-style: normal;
  z-index: 100;
}

@media screen and (max-width: 550px) {
  .cover__title {
    max-width: 248px;
    min-height: 70px;
    margin: calc(31.25% - 67px) 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
