.page__section {
  margin: auto;
  margin-bottom: 92px;
}

.header.page__section {
  margin-bottom: 56px;
}

@media screen and (max-width: 1034px) {
  .header.page__section {
    margin-bottom: 48px;
  }
}

@media  screen and (max-width: 778px) {
  .page__section {
    margin-bottom: 88px;
  }
}

@media  screen and (max-width: 330px) {
  .page__section {
    margin-bottom: 64px;
  }
}
