.footer {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width: 330px) {
  .footer {
    display: block;
  }
}
